<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}} - {{subtitle}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
	<link href="https://fonts.googleapis.com/css?family=Flamenco" rel="stylesheet"> 
	<style>
		body {
			font-family: 'Flamenco', cursive;
		}
	</style>
</head>

<body>
	<section class="hero is-primary">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					{{title}}
				</h1>
				<h2 class="subtitle">
					{{subtitle}}
				</h2>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="has-text-centered">

			<p class="title">
				How to vote?
			</p>
			<p>
				Add or update csv files with your votes and send a PR!
				<br> Example file look like this:
			</p>
			<br>
			<pre class="has-text-left"><code>idea-name-one,idea-name-two</code></pre>
			<br>

			<p>
				Remember to use your username as filename!
				<br> Only one file per user allowed!
				<br> You can vote for a idea only once!
			</p>

			<hr>

			<p class="title">
				How to add an idea?
			</p>
			<p>
				Add idea file and send a PR!
				<br> Files are using toml format.
				<br> Example file look like this:
			</p>
			<br>
			<pre class="has-text-left"><code>title: "Idea title"
description: "Some description."</code></pre>
			<p>
				<br> Only dashes and letters allowed in filename!
				<br>Filename will become codename used for voting so don't change it!
				<br>You can also update old idea files, but the PR will need a review.
				</p>

			<hr>
			<p class="title">
				Link to repository?
			</p>
			<p><a class="button is-primary" href="https://github.com/jaroslaw-weber/vote-for-rust-idea">Here!</a>
		</div>
	</section>

	<section class="hero is-primary">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Ranking of most popular ideas
				</h1>
				<h2 class="subtitle">
					Vote for your favorite idea!
				</h2>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="has-text-centered">
			{{#each ideas}}
			<p class="title">
				<strong>{{this.idea.title}}</strong>
			</p>
			<p>
				{{this.idea.description}}
			</p>
			<br>
			<p>
				vote codename: {{this.name}}
			</p>
			<p>
				votes: {{this.votes}}</p>
			<hr> {{/each}}
		</div>
	</section>
</body>

</html>